body {
  width: 100px;
  margin: 15px;
  background-color: white;
  border-radius: 1px;
  border-color: gray;
}

#title_main {
  text-align: center;
}

#title_main h1 {
  color: red;
  font-size: 19px;
}

.gm_button {
  width: 100%;
  border-radius: 15px;
}

.gm_button:hover {
  background-color: #cccccc;
}
